.task-card{
    min-height: 300px !important;
}
.search-bar{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
}
.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px
}
.count-task{
    font-size: 35px;
}